#trabalho {
  position: relative;
  
  background-color: var(--gray-500);
  height: 917px;
  padding: 72px 120px 144px;

  header {
    /* position: absolute; */
    /* width: 1040px; */
    height: 61px;
    span {
      display: flex;
      /* border: 1px solid blue; */
      font: var(--subtitle);
      justify-self: center;
      padding-bottom: 8px;
    }

    p {
      font: var(--title-md);
      color: var(--gray-100);
      /* margin-bottom: 56px; */
    }
  }

  .grid {
    position: absolute;
    bottom: 144px;
    justify-self: center;
    height: 584px;
    display: grid;
    gap: 24px;
    
    grid-template-columns: repeat(3, 1fr);
  
    margin-top: 56px;
    .card {
     display: flex;
     flex-direction: column;

     padding: 12px 12px 17px;
     background-color: var(--gray-400);
     width: 330px;
     height: 280px;
     border-radius: 12px;

     img {
      border-radius: 8px;
      height: 156px;
      
     }

     span {
      color: var(--gray-100);
      font: var(--title-sm);
      padding: 4px 0 8px;
      margin-top: 20px;
     }

     p {
      color: var(--gray-200);
      font: var(--text-sm);
      padding-bottom: 4px;
      /* margin-bottom: 17px; */
     }

    }
  }




}

#servicos {
  padding: 88px 120px 120px;
  height: 480px;
  background-color: var(--gray-600);
  position: relative;

  header {
    span {
    display: flex;
    font: var(--subtitle);
    color: var(--red);
    justify-content: center;
    margin-bottom: 8px;
    }

    p {
    font: var(--title-md);
    color: var(--gray-100);
    }
  }

  main {
    
    position: absolute;
    bottom: 120px;
    justify-self: center;
    /* left: 50%; */
    /* transform: translate(-50%); */

    /* width: 888px; */
    /* height: 155px; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;

    div {
      width: 280px;
      border: 2px solid var(--gray-500);
      padding: 20px;
      border-radius: 12px;
      }

      span {
        display: flex;
        justify-self: left;
        padding: 20px 0 8px;
        font: var(--title-sm);
        color: var(--gray-100);
      }
      
      p {
        font: var(--text-sm);
        color: var(--gray-200);
       
      }

  }
}

#contatos {
  background-image: url(/assets/Background_Contacts.png);
  height: 787px;
  background-size: cover;
  background-position: center;

  position: relative;

  header {
    margin-top: 128px;
    display: block;
    place-items: center;

    
    span {
      display: flex;
      font: var(--subtitle);
      color: var(--purple);
      margin-bottom: 8px;
    }
    
    p {
      font: var(--title-md);
      color: var(--gray-100);
      margin-bottom: 8px;
    }
    
    p:nth-child(3) {
      font: var(--text-md);
      color: var(--gray-200);
      margin-bottom: 48px;
    }
  }

  #grid {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    height: 320px;
    gap: 16px;

    position: absolute;
    justify-self: center;
    bottom: 200px;

    #link {
      display: flex;
      place-items: center;
      border-radius: 8px;
      width: 400px;
      height: 68px;
      background-color: var(--gray-400);
      padding: 23px 20px;

      span {
        font: var(--text-md);
        color: var(--gray-200);
        display: flex;
        align-self: center;
        padding-left: 12px;
      }

      img:nth-child(3) {
        width: 20px;
        height: 20px;
        margin-left: auto;
        /* justify-self: center; */
      }
    }
  }
  
  
}


